.formulario{
    text-align: start;
}

.buttonCadastrar{
    text-align: center;
}

.tituloOcorrencia{
    text-align: left;
}

.subTituloOcorrencia{
    text-align: left;
    font-size: 15px;
}

.tab{
    margin-top: 15px;
}

.card{
    text-align: left;
}

.dateHeaderCard{
    font-size: 13px;
}

.buttonConfirm{
    text-align: end;
}

.relatorioDiv{
    width: 446px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}
