.logoIFMS {
    width: 200px;
}

.link {
    text-decoration: none;
}

.buttonEntrar {
    color: white;
}

.logoIFMSLite {
    width: 100px;
    display: none;
}

.loginContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loginBox {
    width: 300px;
    height: 300px;
    background: #fff;
}

@media (max-width: 768px) {
    .cardLogo{
        display: none !important;
    }
}