.filtroTabela {
    width: 30% !important;
}

.divButtonCadastar {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: space-between;
}

.legendaDropDown{
    margin-left: 0.5em;
}

.legendaDiv {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.legendaAberto {
    margin: auto;
    margin-right: 0;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid black;
}

.legendaEmAtendimento {
    margin: auto;
    margin-right: 0;
    width: 10px;
    height: 10px;
    background-color: #39f;
    border: 1px solid black;
}

.legendaResolvido {
    margin: auto;
    margin-right: 0;
    width: 10px;
    height: 10px;
    background-color: #2b9f3f;
    border: 1px solid black;
}

@media (max-width: 768px) {
    .rowOcorrencia{
        width: 200px;
        display: flex;
        align-content: initial;
        text-align: initial;
    }

    .legendaDropDown{
        margin-top: 0.5em;
        margin-left: 0;
    }
    
    .filtroDropdown{
        margin-top: 0.5em;
    }
}